<div nz-row>
  <div nz-col nzSpan="8" class="left">Conversations</div>
  <div nz-col nzSpan="8" class="center">
    <span>Chat window</span>
    <div class="messages" #messages>
      <span *ngIf="!messageList.length">No messages yet</span>
      <ng-container *ngIf="messageList.length">
        <div *ngFor="let msg of messageList">
          <div class="message">
            <span>{{ msg.createdAt.toDate() | date: 'medium' }} {{ msg.user }}</span
            ><br />
            <span>{{ msg.message }}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="chat-actions">
      <form nz-form [formGroup]="chatForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="message">Message:</nz-form-label>
          <nz-form-control [nzSpan]="14">
            <textarea rows="4" nz-input formControlName="message"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!chatForm.valid">Send</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
  <div nz-col nzSpan="8" class="right">User details</div>
</div>
