.left {
  background-color: rgb(10, 140, 140);
}
.center {
  background-color: rgb(20, 168, 168);
}
.right {
  background-color: rgb(30, 180, 180);
}
.messages {
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
}
.message {
  background-color: rgb(14, 107, 107);
  line-height: 50px;
}
textarea {
  resize: none;
}
