<nz-layout>
  <nz-header>
    <ng-container *ngIf="!user">
      <button nz-button nzType="primary" (click)="login()">Login</button>
    </ng-container>
    <ng-container *ngIf="user">
      <button nz-button nzType="primary" (click)="logout()">Logout</button>
    </ng-container>
  </nz-header>
  <nz-content>
    <ng-container *ngIf="!user">
      sign in to continue
    </ng-container>
    <ng-container *ngIf="user">
      <app-chat></app-chat>
    </ng-container>
  </nz-content>
  <nz-footer>Footer</nz-footer>
</nz-layout>
